<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Student</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckCodeservlet</display-name>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>cn.CheckCode.servlet.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/CheckCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userservlet</display-name>
    <servlet-name>Userservlet</servlet-name>
    <servlet-class>cn.User.servlet.Userservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userservlet</servlet-name>
    <url-pattern>/Userservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserservlet</display-name>
    <servlet-name>AddUserservlet</servlet-name>
    <servlet-class>cn.User.servlet.AddUserservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserservlet</servlet-name>
    <url-pattern>/AddUserservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.Student.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentPageservlet</display-name>
    <servlet-name>StudentPageservlet</servlet-name>
    <servlet-class>com.Student.servlet.StudentPageservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentPageservlet</servlet-name>
    <url-pattern>/StudentPageservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelStudentServlet</display-name>
    <servlet-name>DelStudentServlet</servlet-name>
    <servlet-class>com.Student.servlet.DelStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelStudentServlet</servlet-name>
    <url-pattern>/DelStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentQueryservlet</display-name>
    <servlet-name>StudentQueryservlet</servlet-name>
    <servlet-class>com.Student.servlet.StudentQueryservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentQueryservlet</servlet-name>
    <url-pattern>/StudentQueryservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentservlet</display-name>
    <servlet-name>UpdateStudentservlet</servlet-name>
    <servlet-class>com.Student.servlet.UpdateStudentservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentservlet</servlet-name>
    <url-pattern>/UpdateStudentservlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>cn.student.Filter.StudentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/Student/*</url-pattern>
    <url-pattern>/StudentPageservlet</url-pattern>
    <url-pattern>/AddStudentServlet</url-pattern>
    <url-pattern>/DelStudentServlet</url-pattern>
    <url-pattern>/StudentQueryservlet</url-pattern>
    <url-pattern>/UpdateStudentservlet</url-pattern>
    <url-pattern>/DelAllStudentservlet</url-pattern>
    <url-pattern>/Downloadservlet</url-pattern>
    <url-pattern>/UpdateDownservlet</url-pattern>
    <url-pattern>/UpdateDownservlet1</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DelAllStudentservlet</display-name>
    <servlet-name>DelAllStudentservlet</servlet-name>
    <servlet-class>com.Student.servlet.DelAllStudentservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelAllStudentservlet</servlet-name>
    <url-pattern>/DelAllStudentservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownLoadservlet</display-name>
    <servlet-name>DownLoadservlet</servlet-name>
    <servlet-class>cn.DownLoad.servlet.DownLoadservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadservlet</servlet-name>
    <url-pattern>/DownLoadservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exitservlet</display-name>
    <servlet-name>Exitservlet</servlet-name>
    <servlet-class>cn.User.servlet.Exitservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exitservlet</servlet-name>
    <url-pattern>/Exitservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updateservlet</display-name>
    <servlet-name>Updateservlet</servlet-name>
    <servlet-class>cn.User.servlet.Updateservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updateservlet</servlet-name>
    <url-pattern>/Updateservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDownservlet</display-name>
    <servlet-name>UpdateDownservlet</servlet-name>
    <servlet-class>com.Student.servlet.UpdateDownservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDownservlet</servlet-name>
    <url-pattern>/UpdateDownservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDownservlet1</display-name>
    <servlet-name>UpdateDownservlet1</servlet-name>
    <servlet-class>com.Student.servlet.UpdateDownservlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDownservlet1</servlet-name>
    <url-pattern>/UpdateDownservlet1</url-pattern>
  </servlet-mapping>
</web-app>